[Unit]
Description=My Flask App
After=network.target

[Service]
User=bank
WorkingDirectory=/home/bank/git
Environment=VENV_PATH=/home/bank/.cache/pypoetry/virtualenvs/python-test-*-py3.11
ExecStart=/bin/bash -c "source $VENV_PATH/bin/activate && flask --app main.py run"

[Install]
WantedBy=multi-user.target


