[Unit]
Description=My Flask App
After=network.target

[Service]
User={{ username }}
WorkingDirectory=/home/{{ username }}/git
Environment=VENV_PATH=/home/{{ username }}/.cache/pypoetry/virtualenvs/python-test-*-py3.11
ExecStart=/bin/bash -c "source $VENV_PATH/bin/activate && flask --app main.py run"

[Install]
WantedBy=multi-user.target


